{% extends "base-lo.html" %}
{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="grid lg:grid-cols-2 md:grid-cols-2 items-center gap-4">
  <div class="max-md:order-1 h-screen min-h-full">
    <img src="{% static 'images/Pacage mockup.png' %}" class="w-full h-full object-cover" alt="login-image" />
  </div>

  <form class="max-w-xl w-full p-6 mx-auto" method="post">
    {% csrf_token %}
    <div class="mb-12">
      <h3 class="text-gray-800 text-4xl font-extrabold">Reset Your Password</h3>
    </div>

    {% if form.errors %}
      <div class="mb-6" role="alert">
        <div id="form_errors">
          <strong class="text-red-600">There was an error with your form submission.</strong>
        </div>
      </div>
    {% endif %}

    <div class="text-xs text-gray-600 mb-4">
        <span class="text-red-500">*</span> <i class="italic">For security reasons, your username and password cannot relate or be the same.</i>
    </div>


    <div class="mt-8">
      <label for="id_new_password1" class="text-gray-800 text-sm block mb-2">Password</label>
      <div class="relative flex items-center">
        <input name="new_password1" type="password" id="id_new_password1" required class="w-full text-sm text-gray-800 border-b border-gray-300 focus:border-blue-600 px-2 py-3 outline-none" placeholder="Enter password" />
        <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2 top-[50%] transform -translate-y-[50%] cursor-pointer" viewBox="0 0 24 24">
          <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm0-7a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"></path>
        </svg>
      </div>
    </div>

    <div class="mt-8">
      <label for="id_new_password2" class="text-gray-800 text-sm block mb-2">Confirm Password</label>
      <div class="relative flex items-center">
        <input name="new_password2" type="password" id="id_new_password2" required class="w-full text-sm text-gray-800 border-b border-gray-300 focus:border-blue-600 px-2 py-3 outline-none" placeholder="Confirm password" />
        <svg id="togglePassword2" xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2 top-[50%] transform -translate-y-[50%] cursor-pointer" viewBox="0 0 24 24">
          <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm0-7a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"></path>
        </svg>
      </div>
    </div>

    <div class="mt-12">
      <button style="background: linear-gradient(160deg, #022036 -4%, #01121e 46%); padding: 1rem 1.75rem; border-radius: 0.25rem;" type="submit" class="w-full text-sm tracking-wide rounded-md text-white uppercase focus:outline-none">
        Reset Password
      </button>
    </div>
  </form>
</div>

<script>
  const passwordInput = document.getElementById("id_new_password1");
  const passwordInput2 = document.getElementById("id_new_password2");
  const togglePasswordIcon = document.getElementById("togglePassword");
  const togglePasswordIcon2 = document.getElementById("togglePassword2");

  togglePasswordIcon.addEventListener("click", () => {
    const isPasswordHidden = passwordInput.type === "password";
    passwordInput.type = isPasswordHidden ? "text" : "password";
    togglePasswordIcon.innerHTML = isPasswordHidden
      ? '<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm-6.93-6c1.73 2.94 4.29 4.5 6.93 4.5s5.2-1.56 6.93-4.5c-1.73-2.94-4.29-4.5-6.93-4.5s-5.2 1.56-6.93 4.5z"></path>'
      : '<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm-6.93-6c1.73 2.94 4.29 4.5 6.93 4.5s5.2-1.56 6.93-4.5c-1.73-2.94-4.29-4.5-6.93-4.5s-5.2 1.56-6.93 4.5z"></path>';
  });

  togglePasswordIcon2.addEventListener("click", () => {
    const isPassword2Hidden = passwordInput2.type === "password";
    passwordInput2.type = isPassword2Hidden ? "text" : "password";
    togglePasswordIcon2.innerHTML = isPassword2Hidden
      ? '<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm-6.93-6c1.73 2.94 4.29 4.5 6.93 4.5s5.2-1.56 6.93-4.5c-1.73-2.94-4.29-4.5-6.93-4.5s-5.2 1.56-6.93 4.5z"></path>'
      : '<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.48 0-4.5-2.02-4.5-4.5S9.52 8 12 8s4.5 2.02 4.5 4.5-2.02 4.5-4.5 4.5zm-6.93-6c1.73 2.94 4.29 4.5 6.93 4.5s5.2-1.56 6.93-4.5c-1.73-2.94-4.29-4.5-6.93-4.5s-5.2 1.56-6.93 4.5z"></path>';
  });
</script>

{% endblock %}
